* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: arial, sans-serif;
}
a {
  text-decoration: none;
}
body {
  max-width: 1390px;
  margin: 0 auto;
}
form {
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
  margin: 0 auto;
  margin-top: 50px;
}
form > div {
  margin: 10px;
}
input {
  background: #ffffff;
  border: 2px solid #646464;
  border-radius: 10px;
  padding: 9px;
}
#endereço {
  width: 395px;
}
.button button {
  margin-top: 18px;
  background: #ffffff;
  border: 2px solid #646464;
  border-radius: 10px;
  padding: 9px;
  color: red;
  text-align: center;
  border-color: #ff3333;
  font-weight: bold;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.container {
  margin-right: 30px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 10px;
  width: 400px;
}
.assinatura {
  position: absolute;
  width: 190px;
  margin-top: 30px;
  margin-left: 0px;
  font-size: 36px;
  font-weight: bold;
  color: #ff3333;
  font-style: normal;
}
.caixa {
  margin-top: 50px;
  height: 150px;
  max-width: 290px;
  margin-left: 200px;
}
.caixa > img {
  width: 230px;
  padding: 0px;
}
select {
  background: #ffffff;
  border: 2px solid #646464;
  border-radius: 10px;
  padding: 8px;
}
.btn {
  margin-top: 0px;
  text-align: center;
}
#voltar {
  display: inline-block;
  padding: 10px;
}
#finalizar {
  display: inline-block;
  margin: 30px;
}
#voltar a button {
  padding: 9px;
  border-radius: 10px;
  width: 150px;
}
#finalizar a button {
  padding: 9px;
  border-radius: 10px;
  width: 150px;
}
.header {
  background-color: #ff3333;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  font-weight: bolder;
}
.menu li {
  margin-left: 50px;
}
.menu li a {
  display: inline-block;
  padding: 2px;
}
li a {
  color: white;
}
.numero {
  display: inline-block;
  background-color: white;
  color: #ff3333;
  padding: 8px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 70px;
  color: #ff3333;
  font-weight: bold;
}
.endere{
  width: 396px;
}
