* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: arial, sans-serif;
}
body {
  max-width: 1390px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.header {
  background-color: #ff3333;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  font-weight: bolder;
}
.menu li {
  margin-left: 50px;
}
.menu li a {
  display: inline-block;
  padding: 2px;
}
li a {
  color: white;
}
.numero {
  display: inline-block;
  background-color: white;
  color: #ff3333;
  padding: 8px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}
h1 {
  text-align: center;
  margin-top: 70px;
  color: #ff3333;
  font-weight: bold;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}
.flex > div {
  margin: 10px;
}
input {
  background: #ffffff;
  border: 2px solid #646464;
  border-radius: 10px;
  padding: 9px;
}
.btn {
  margin-top: 0px;
  text-align: center;
}
#continuar {
  display: inline-block;
  padding: 10px;
}
#voltar {
  display: inline-block;
  margin: 30px;
}
#continuar a button {
  padding: 9px;
  border-radius: 10px;
  width: 150px;
}
#voltar > button {
  padding: 9px;
  border-radius: 10px;
  width: 150px;
}
